.parallax
	div(data-depth="0.00").c-back.layer
		div.page
			.flowers_container.clearfix
			.background_container
	div(data-depth="0.20").c-mid.layer
		div.page
			.flowers_container.clearfix
			.background_container
	div(data-depth="0.40").c-front.layer
		div.page
			.flowers_container.clearfix
			.background_container
			.full_height &nbsp;




