header.header
	nav(role="navigation").navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapse')
					span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar

				a.navbar-brand
					img(src='/img/logo.png', srcset='/img/logo.png@2x 2x')
					h1 Code Garden

			#collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li.active
						a(href='#') Link
					li
						a(href='#') Link
					li
						a(href='#') Who?
