meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1')
title Code Garden
// Place favicon.ico and apple-touch-icon.png in the root directory

// build:css(.tmp) styles/main.css
link(rel='stylesheet', href='styles/main.css')
link(rel='stylesheet', href='styles/code_hl.css')
// endbuild

link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

// build:js(.tmp) scripts/modernizr.js
script(src='bower_components/modernizr/modernizr.js')
// endbuild
