header.header
	nav(role="navigation").navbar.navbar-default.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				a(href='/').navbar-brand
					img(src='/img/logo.png')
					h1 Code Garden

			#collapse.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li(class=(current_page == "index" ? "active": null))
						a(href='/') Home
					li(class=(current_page == "about" ? "active": null))
						a(href='/about.html') About
