.templates

    script(type="text/x-handlebars-template")#full_article_template
        article.full
            .bk-image
            .gesture-bk
            .time-border
                i.fa.fa-calendar
                time(pubdate="pubdate", title="{{ago}}") &nbsp;{{pubdate}}
            .a-content
                ol.breadcrumb
                    li
                        a(href="/") Home
                    li.active {{{title}}}
                .timeline-heading
                  h2.timeline-title {{{title}}}

                .timeline-body
                    {{{body}}}

    script(type="text/x-handlebars-template")#article_template
        li(class="{{class}}").clearfix
            .timeline-badge
                i(class="{{icon}}")
            .timeline-panel
                article
                    .bk-image
                    .gesture-bk
                    .time-border
                        i.fa.fa-calendar
                        time(pubdate="pubdate", title="{{ago}}") &nbsp;{{pubdate}}
                    .a-content
                        .timeline-heading
                          h2.timeline-title {{{title}}}

                        .timeline-body
                            .body-snippet
                                {{{body_snippet}}}
                            .body
                                {{{body}}}

    script(type="text/x-handlebars-template")#profile_template
        .row.profile
            .bk-image
            .gesture-bk
            .col-xs-12.col-sm-12.col-md-12(profile="http://microformats.org/wiki/hcard", class="vcard")
                .well.well-sm
                    ol.breadcrumb
                        li
                            a(href="/") Home
                        li.active {{real_name}}
                    .row
                        .a-content
                            .col-sm-6.col-md-4
                                img.img-rounded.img-responsive(src='{{image}}', alt='')
                            .col-sm-6.col-md-8
                                h2
                                  | {{real_name}}
                                small
                                  cite(title="{{city}}") {{city}}&nbsp;
                                    i.fa.fa-map-marker
                                p
                                  i.fa.fa-envelope
                                  a(href="mailto:{{email}}") &nbsp;{{email}}
                                  br
                                  i.fa.fa-globe
                                  a(href="{{url}}", target="_blank") &nbsp;{{url}}
                                  br
                                  i.glyphicon.glyphicon-gift
                                  | &nbsp;{{birthday}}

                                {{#if social}}
                                .btn-group
                                    button.btn.btn-primary(type='button') Social
                                    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                                        span.caret
                                        span.sr-only Social
                                    ul.dropdown-menu(role='menu')
                                        {{#each social}}
                                        li
                                          a(href="{{this.link}}", target="_blank")
                                            i(class="fa-{{icon}}").fa
                                            | &nbsp;{{this.name}}
                                        {{/each}}
                                {{/if}}
                                hr
                                h4 Description
                                p {{{description}}}



    script(type="text/x-handlebars-template")#flower_template
        .flower-template
            .flower
                img(src='/img/f_shadow.png').dot
                .body
                    .head
                        .petals
                            .petal.petal-1 {}
                            .petal.petal-2 {}
                            .petal.petal-3 {}
                            .petal.petal-4 {}
                            .petal.petal-5 {}
                        .f_center *
                    .line {{phrase}}
                    .leaf ()
